/*****************************************
* Style sheet for custom styles
*
*****************************************/

article {
    background-image: url("pics/berndt-difuse.png");
    background-position: 10vh 12vh;
    background-repeat: no-repeat;
    background-size: 75vh auto;
}

/*debug 
table, td, th {
    border: 1px solid black;
}*/

.two-columns {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.two-columns th {
    height: 2em;
    text-align: center;
    font-size: 120%;
}

.two-columns td {
    padding-bottom: 1ex;
}

.two-columns th:first-child, .two-columns td:first-child {
    width: 50%;
    margin-right: 10%;
    padding-right: 2%;
}

.two-columns th:last-child, .two-columns td:last-child {
    width: 49%;
}

.converse {
    width: 18%;
    margin: -0.2em 41% 0 41%;
}

p.converse {
    font-size: 300%;
    font-weight: bold;
    width: 6%;
    margin: -0.8ex 45% -1.2ex 49%;
    color: var(--header-color);
    padding: 0;
}

svg.converse {
    height: 3em;
}

.iwasawa {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.iwasawa td {
    vertical-align: middle;
}

.iwasawa td svg {
    width: 100%;
    height: 2em;
}

.iwasawa td:nth-child(1) {
    width: 5.2em;
}

.iwasawa td:nth-child(2) {
    width: 1.3em;
}

.iwasawa td:nth-child(3) {
    padding-left: 0.3em;
    width: 2.3em;
    text-align: center;
}

.iwasawa td:nth-child(4) {
    width: 2em;
}

.iwasawa td:nth-child(4) svg {
    margin-top: 0.3em;
}

.iwasawa td:nth-child(5) {
    width: 10.8em;
    padding-left: 0.3em;
}

.iwasawa td:nth-child(6) {
    padding-left: 0.3em;
    width: 8.5em;
}

.iwasawa .boxed {
    margin: 0;
    padding: 0;
}

.iwasawa p {
    padding: 0;
}

.iwasawa tr:nth-child(2) td:nth-child(2) svg, 
.iwasawa tr:nth-child(2) td:nth-child(3) svg {
    width: 1.5em;
    transform: scale(1.3, 1.4) translateY(-0.1em);
    overflow: visible;
}

.iwasawa tr:nth-child(3) td:first-child {
    text-align: right;
    vertical-align: top;
    padding-top: 0.5ex;
}

.iwasawa tr:nth-child(3) td:nth-child(2) .boxed {
    margin-left: 1em;
    padding: 1ex;
}

.iwasawa tr:nth-child(3) td:nth-child(2) p {
    padding-bottom: 1ex;
}
