/****************************************************
* Printing slides:
- Seleccionar "Imprimir co cadro de diálogo de sistema" e en "Adobe" ir a "Preferencias".  En "Adobe PDF Page Size" darlle a "Add..." e crear un tamaño da proporción necesaria (p. ex. 320mm x 200mm para 16:10).  Salvar.
- A seguinte vez que se imprima aparecerá ese tamaño, e imprimir normal.
*****************************************************/

/* Main blocks
*****************************************************/
body {
    font-size: calc(var(--text-size) - 0.1vh); 
}

article {
    display: block;
}

#title button, header button {
	display: none;
}


@media print {
    @page { 
        margin: 0; 
        /* size: 400px 300px landscape; */
    }

    :root {
        --a-link: transparent;
        --a-visited: transparent;
        --a-hover: transparent;
    }

    body {
        height: 100%;
    }
    
	article {
		page-break-after: always;
        page-break-inside: avoid;
	}  
}

