/****************************************************
Table of contents:
1. Main blocks
2. Title page
3. Header
4. Contents page
5. Text
6. Links
7. Common classes
8. Colors
9. Display boxes
10. Lists
11. Figures
12. CSS arrows
13. Scribbling
*****************************************************/

@import url(
    'https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); 
@import url(
    'https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* Main blocks
*****************************************************/
:root {
    --slide-ratio: calc(16 / 10); /* Usual values: 16:10, 16:9, 4:3 */
    --slide-width: min(100vw, var(--slide-ratio) * 100vh);
    --slide-height: calc(var(--slide-width) / var(--slide-ratio));
    --bg-color: white;
    --text-color: black;
    --text-size: 4; /* Percentage of slide size */
    --strong-color: red;
    --math-color: purple;
    --code-color: indigo;
    --sec-margin-top: 1em;
    --side-margin: 2em; /* 4:3 -> 1em, 16:10 -> 2em */
    --par-sep: 0.3em;
    --section-display: flex; /* problems: no collapsing margins, no floats */
    --vertical-justify: flex-start;
    --hover-animation: transform 0.2s ease 0.5s, box-shadow 0.2s ease 0.5s;

    --a-link: brown;
    --a-visited: purple;
    --a-hover: chocolate;

    --title-color: maroon;

    --header-color: linear-gradient(to bottom right, black, blue);
    --header-text-color: white;
    --header-height: 1.5em;
    --header-font-size: 90%;

    --box-side-margin: -0.3em;
    --shadow: 0.2ex 0.3ex 0.2ex 0 lightgrey, 0 -0.2ex 0.7ex 0 lightgrey;
    --border: 0.3rem;

    --content-lemma: "Lemma. ";
    --content-theorem: "Theorem. ";
    --content-proposition: "Proposition. ";
    --content-corollary: "Corollary. ";
    --content-proof: "Proof. ";
    --content-definition: "";
    --content-problem: "Problem. ";
    --content-solution: "Solution. ";
    --content-example: "Example. ";
    --content-remark: "Remark. ";
    --content-exercise: "Exercise. ";

    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: start;
    color: var(--text-color, black);
    line-height: 1.3;
    background-color: black;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main {
    font-size: calc(var(--text-size) * var(--slide-height) / 100);
    background-color: var(--bg-color, white);
}

.MathJax {
    line-height: 0;
}

article {
    width: var(--slide-width);
    height: var(--slide-height);
    position: relative;
    overflow: hidden;
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
    display: none;
}

article.current {
	display: block;
}

section {
    position: relative;
    margin-block: var(--sec-margin-top);
    margin-inline: var(--side-margin);
    display: var(--section-display); 
    flex-flow: column nowrap;
    justify-content: var(--vertical-justify, flex-start);
    block-size: calc(100% - var(--header-height) - 2 * var(--sec-margin-top));
}

section > *:first-child {
    margin-block-start: 0;
}

header {
    height: var(--header-height);
    margin-block: 0;
    margin-inline: 0;
    background: var(--header-color);
    box-shadow: 0 0.2rem 0.3rem grey;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

[class*="show-"] {
	opacity: 0.1;
	filter: blur(0.1rem) saturate(20%);
	pointer-events: none;
	transition: opacity 0.5s, filter 0.5s;
}

.shown {
	opacity: 1;
	filter: blur(0) saturate(100%);
	pointer-events: auto;
}

.erased {
    visibility: hidden;
	pointer-events: none;
}

#svg-code {
    position: fixed;
}


/* Title page
*****************************************************/
#title section {
    height: 100%;
}

#title h1, #title h2, #title h3 {
    text-align: center;
}

#title h1 {
    font-size: 275%;
    margin-block: calc(4*var(--par-sep)) calc(2*var(--par-sep));
    margin-inline: 0;
    color: var(--title-color);
    text-shadow: 0 0 0.3rem grey;
}

#title h2 {
    font-size: 135%;
    padding-block-start: calc(4*var(--par-sep));
    border-block-start: 1px solid black;
}

#title footer {
    margin-block: auto calc(4*var(--par-sep));
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

#title footer img {
    width: 15%;
    margin-block-end: auto;
    margin-inline-end: calc(0.5*var(--side-margin));
}

#title footer ul {
    list-style-type: none;
    margin-block: 0;
    margin-inline: auto 0;
}

#title footer li:first-child {
    color: darkslateblue;
}

#title footer :not(:first-child) {
    color: green;
    font-size: 90%;
}


/* Header
*****************************************************/
header h2 {
    text-shadow: 0 0 0.3rem var(--text-color, black);
    margin-inline-start: calc(0.3*var(--side-margin));
    font-size: var(--header-font-size);
}

header h2, header .MathJax, header code {
    color: var(--header-text-color);
}

header nav {
    margin-block-start: calc(0.5*var(--par-sep));
    margin-inline-start: auto;
    align-self: flex-start;
}

header button:hover {
	cursor: pointer;
}

#title button, header button {
	background-color: transparent;
	color: var(--a-link, brown);
	border: none;
    font-size: var(--header-font-size);
	margin-inline-end: 0.5em;
    padding-block: 0;
    padding-inline: 0;
}


/* Contents page
*****************************************************/
[id^="contents"] {
    --vertical-justify: space-around;
}

[id^="contents"] section {
    font-size: 85%;
}

[id^="contents"] section.smaller {
    font-size: 60%;
}

[id^="contents"] section h2 {
    margin-block-start: var(--par-sep);
}

[id^="contents"] section h3 {
    margin-inline-start: calc(2 * var(--par-sep));
}

[id^="contents"] section h2 a:link, [id^="contents"] section h2 a:visited {
    color: black;
}

[id^="contents"] section h3 a:link, [id^="contents"] section h3 a:visited {
    color: DimGrey;
}

[id^="contents"] section h2 a:hover, [id^="contents"] section h3 a:hover {
    color: darkgrey;
}

[id^="contents"] h3 .MathJax{
    --math-color: DimGrey;
}


/* Text
*****************************************************/
h2, h3, h4 {
    margin-block: var(--par-sep, 0.3em);
    margin-inline: 0;
    text-align: start;
}

h2 {
    font-size: 125%;
}

h3 {
    font-size: 115%;
}

h4 {
    font-size: 105%;
}

p {
    padding-block: 0 var(--par-sep, 0.3em);
    padding-inline: 0;
}

strong {
    font-weight: bold;
    color: var(--strong-color, red);
}

blockquote {
    color: blue;
}

code, pre {
    font-family: "Inconsolata", monospace;
    line-height: 1.2;
    color: var(--code-color);
}


/* Links
*****************************************************/
a {
    text-decoration: none;
}
a:link {
    color: var(--a-link, brown);
}
a:visited {
    color: var(--a-visited, purple);
}
a:hover {
    color: var(--a-hover, chocolate);
}


/* Common classes
*****************************************************/
.vertical-justify {
    justify-content: space-around;
}

.center {
    text-align: center;
}

.smaller {
    font-size: 75%;
}

.bigger {
    font-size: 125%;
}

.space-after {
    margin-block-end: calc(2*var(--par-sep));
}

.space-before {
	margin-block-start: calc(5*var(--par-sep)) !important;
}

.display-block {
    display: block;
}


/* Colors
*****************************************************/
.MathJax {
    color: var(--math-color, black);
}

.bg-pink {
    --color-start: hsl(350, 100%, 95%);
    --color-end: hsl(350, 100%, 88%);
    --color-solid: pink;
}

.definition, .bg-yellow {
    --color-start: hsl(60, 100%, 95%);
    --color-end: hsl(60, 100%, 85%);
    --color-solid: lightyellow;
}

.lemma, .theorem, .proposition, .corollary, .bg-green {
    --color-start: hsl(120, 73%, 95%);
    --color-end: hsl(120, 73%, 75%);
    --color-solid: lightgreen;
}

.problem, .bg-blue {
    --color-start: hsl(180, 100%, 97%);
    --color-end: hsl(195, 53%, 79%);
    --color-solid: lightblue;
}

.solution {
    --color-start: hsl(180, 100%, 97%);
    --color-end: hsl(180, 100%, 94%);
    --color-solid: lightcyan;
}

.example, .remark, .exercise, .bg-white {
    --color-start: hsl(0, 0%, 97%);
    --color-end: hsl(0, 0%, 86%);
    --color-solid: white;
}

.proof {
    --color-start: hsl(120, 76%, 95%);
    --color-end: hsl(120, 76%, 85%);
    --color-solid: hsl(120, 73%, 90%);
}


/* Display boxes
*****************************************************/
[class^="bg-"] {
    margin-inline: var(--box-side-margin, -0.3em);
    padding-inline: calc(-1*var(--box-side-margin));
}

.two-boxes {
    width: 100%;
    margin-block: var(--par-sep, 0.3em);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

h2 + .two-boxes {
    margin-block-start: 0;
}

.two-boxes:first-child {
    margin-block-start: 0;
}

.two-boxes div:first-of-type, .two-boxes div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    border-radius: var(--border, 0);
    box-shadow: var(--shadow);
}

.distribute.two-boxes div:first-of-type, 
.distribute.two-boxes div:last-of-type,
:host(.distribute) .two-boxes div:first-of-type,
:host(.distribute) .two-boxes div:last-of-type {
    flex: auto;
}

.two-boxes svg, .two-boxes .arrow-shadow {
    width: 10%;
    height: 2em;
    margin-block: 0;
    margin-inline: 1.5%;
    align-self: center;
    overflow: visible;
}

.two-boxes p {
    text-align: center;
}

.definition, .lemma, .theorem, .proposition, .corollary, .proof,
.example, .exercise, .remark, .problem, .solution, .boxed {
    margin-block: var(--par-sep);
    margin-inline: var(--box-side-margin);
    padding-block: var(--par-sep);
    padding-inline: calc(-1*var(--box-side-margin));
    border-radius: var(--border, 0);
    box-shadow: var(--shadow);
    background: linear-gradient(
        to bottom, var(--color-start), var(--color-end));
}

h2 + :is(.definition, .lemma, .theorem, .proposition, .corollary, .proof,
.example, .exercise, .remark, .problem, .solution, .boxed, .two-boxes) {
    margin-block-start: 0;
}

.lemma > p:first-of-type::before {
    font-weight: bold;
    content: var(--content-lemma, "Lemma. ");
}

.theorem > p:first-of-type::before {
    font-weight: bold;
    content: var(--content-theorem, "Theorem. ");
}

.proposition > p:first-of-type::before {
    font-weight: bold;
    content: var(--content-proposition, "Proposition. ");
}

.corollary > p:first-of-type::before {
    font-weight: bold;
    content: var(--content-corollary, "Corollary. ");
}

.definition > p:first-of-type::before {
    font-weight: bold;
    content: var(--content-definition, "");
}

.example > p:first-of-type::before {
    font-weight: bold;
    content: var(--content-example, "Example. ");
}

.exercise > p:first-of-type::before {
    font-weight: bold;
    content: var(--content-exercise, "Exercise. ");
}

.remark > p:first-of-type::before {
    font-weight: bold;
    content: var(--content-remark, "Remark. ");
}

.proof > p:first-of-type::before {
    font-weight: bold;
    content: var(--content-proof, "Proof. ");
}

.problem > p:first-of-type::before {
    font-weight: bold;
    content: var(--content-problem, "Problem. ");
}

.solution > p:first-of-type::before {
    font-weight: bold;
    content: var(--content-solution, "Solution. ");
}

p.boxed {
    padding-block-start: 0;
}

[class*="bg-"] {
    background: var(--color-solid);
    background: linear-gradient(
        to bottom, var(--color-start), var(--color-end));
    fill: var(--color-solid);
}

svg [class*="bg-"] {
    filter: drop-shadow(0.05ex 0.05ex 0.07ex gray); 
    stroke: grey;
    stroke-width: 0.1;
}


/* Lists
*****************************************************/
ul {
    margin-block: 0;
    margin-inline: calc(0.5*var(--side-margin, 1ex)) 0;
    list-style-type: square;
}

ol {
    padding-block: 0;
    padding-inline: 0;
    counter-reset: section;
    list-style-type: none;
}

p + ul, .boxed + ul {
    margin-block: 0;
    margin-inline: calc(0.8*var(--side-margin)) 0;
}

:is(ul, ol) li {
    margin-block-end: var(--par-sep, 0.3em);
}

ul li ul {
    margin-block-start: var(--par-sep, 0.3em);
}

ol li::before {
    counter-increment: section;
    content: counter(section) ". ";
}

ol li ol {
    counter-reset: li;
    list-style-type: none;
    margin-inline-start: calc(0.5*var(--side-margin));
}

ol li li::before {
    counter-increment: li;
    content: counter(section) ". " counter(li) ". ";
}

ol li ol li {
    margin-block: 0;
    margin-inline: var(--side-margin) 0;
    text-indent: calc(-1*var(--side-margin));
}

ul.no-bullet {
 	list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
}


/* Figures
*****************************************************/
figure img {
    width: 100%;
}

figcaption {
    text-align: center;
}

.row-pictures {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
    gap: 1ex;
}

.row-pictures figure {
	flex: 1 1 0;
    margin-block: 0;
    margin-inline: auto;
    box-sizing: border-box;
	width: auto;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.pictures-tiny :is(img, svg) {
    max-height: 3em;
}

.row-pictures:is(.pictures-tiny, .pictures-small, .pictures-medium, .pictures-big) figure {
    flex: 0 1 auto;
}

.pictures-small :is(img, svg) {
    max-height: 5em;
}

.pictures-medium :is(img, svg) {
    max-height: 7em;
}

.pictures-big :is(img, svg) {
    max-height: 9em;
}

.picture-text {
    display: grid;
    grid-template-columns: 0.14fr 0.05fr 0.81fr;
    margin-block: 0;
    margin-inline: auto;
    text-align: start;    
}

.picture-text-picture-text {
    display: grid;
    grid-template-columns: 0.18fr 0.02fr 0.28fr 0.04fr 0.18fr 0.02fr 0.28fr;
    font-size: 80%;
    margin-block-start: 5%;
}

[class*="picture"] :is(img, svg) {
    border-radius: var(--border, 0);
    transition: transform 0.5s;
}

[class*="picture"] :is(img, svg):hover {
    box-shadow: var(--shadow);
    background: var(--bg-color, white);
    transform: scale(1.2);
    transition: var(--hover-animation);
}

[class^="column"] {
    margin-block: 0 calc(2*var(--par-sep));
    margin-inline: 0;
    padding-block: 0 5%;
    padding-inline: 0;
}

.column1 {
    grid-column: 1;
}

.column2 {
    grid-column: 3;
}

.column1 img, .column3 img {
    width: 100%;
}

.column3 {
    grid-column: 5;
}

.column4 {
    grid-column: 7;
}

.picture-text-picture-text :is(.column2, .column4) {
    padding-block-start: 20%;
}

main + svg {
    display: none;
}

/* CSS arrows 
******************************************************/
.arrow-shadow {
    filter: drop-shadow(0 0.15rem 0.3rem hsl(0, 0%, 40%));
    margin-block: 0;
    margin-inline: 1%;
}

.implies, .right-arrow {
    clip-path: polygon(
        2% 70%, 75% 70%, 75% 90%, 98% 50%, 75% 10%, 75% 30%, 2% 30%);
    height: 4rem;
    width: 100%;
}

.iff, .left-right-arrow {
    clip-path: polygon(2% 50%, 27% 90%, 27% 70%, 73% 70%, 73% 90%, 98% 50%,
        73% 10%, 73% 30%, 27% 30%, 27% 10%);
    height: 4rem;
    width: 100%;
}


/* Scribbling
******************************************************/
.scribble {
    position: absolute;
    top: 0;
    left: 0;
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
    block-size: 100%;
    inline-size: 100%;
    z-index: 100;
    stroke: black;
    stroke-width: 3;
    fill: none;
    touch-action: none;
}
