/*****************************************
* Style sheet for custom styles
*
*****************************************/

article {
    background-image: url("pics/berndt-difuse.png");
    background-position: 10% 12%;
    background-repeat: no-repeat;
    background-size: 75% auto;
}

.two-columns {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.two-columns th {
    height: 2em;
    text-align: center;
    font-size: 120%;
}

.two-columns td {
    padding-block-end: 1ex;
}

.two-columns th:first-child, .two-columns td:first-child {
    width: 50%;
    margin-inline-end: 10%;
    padding-inline-end: 2%;
}

.two-columns th:last-child, .two-columns td:last-child {
    width: 49%;
}

.converse {
    width: 18%;
    margin-block: -0.6em 0;
    margin-inline: 41%;
}

p.converse {
    font-size: 300%;
    font-weight: bold;
    width: 6%;
    margin-block: -1.2ex -1.2ex;
    margin-inline: 49%;
    padding-block: 0;
    padding-inline: 0;
    color: var(--header-color);
}

svg.converse {
    height: 3em;
}

.iwasawa {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.iwasawa td {
    vertical-align: middle;
}

.iwasawa td svg {
    width: 100%;
    height: 2em;
}

.iwasawa td:nth-child(1) {
    width: 5.2em;
}

.iwasawa td:nth-child(2) {
    width: 1.3em;
}

.iwasawa td:nth-child(3) {
    padding-inline-start: 0.3em;
    width: 2.3em;
    text-align: center;
}

.iwasawa td:nth-child(4) {
    width: 2em;
}

.iwasawa td:nth-child(4) svg {
    margin-block-start: 0.3em;
}

.iwasawa td:nth-child(5) {
    width: 10.8em;
    padding-inline-start: 0.3em;
}

.iwasawa td:nth-child(6) {
    padding-inline-start: 0.3em;
    width: 8.5em;
}

.iwasawa .boxed {
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
}

.iwasawa p {
    padding-block: 0;
    padding-inline: 0;
}

.iwasawa tr:nth-child(2) td:nth-child(2) svg, 
.iwasawa tr:nth-child(2) td:nth-child(3) svg {
    width: 1.5em;
    transform: scale(1.3, 1.4) translateY(-0.1em);
    overflow: visible;
}

.iwasawa tr:nth-child(3) td:first-child {
    text-align: right;
    vertical-align: top;
    padding-block-start: 0.5ex;
}

.iwasawa tr:nth-child(3) td:nth-child(2) .boxed {
    margin-inline-start: 1em;
    padding-block: 1ex;
    padding-inline: 1ex;
}

.iwasawa tr:nth-child(3) td:nth-child(2) p {
    padding-block-end: 1ex;
}
